fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
pydantic==2.11.7
pydantic-settings==2.10.1
yt-dlp>=2025.6.30
faster-whisper==1.1.1
stable-ts==2.19.1
nvidia-cublas-cu12==12.9.2.10
nvidia-cuda-nvrtc-cu12==12.9.86
nvidia-cudnn-cu12==9.24.0.43
requests==2.32.5
Send2Trash==1.8.3
edge-tts==7.2.3
aiofiles>=23.2.1
aiosqlite>=0.19.0
gmssl>=3.2.2
imageio-ffmpeg==0.6.0
python-dateutil>=2.8.2
demucs>=4.0.1
numpy
openai
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
